<p>Dear {{fullName}},</p>

<p>Thank you so much for applying to 2021 Reunion! We have received your
  registration and appreciate your interest very much.
</p>
<p>To complete your registration and payment - please follow
  <a
    href="https://members.sibf.org/events/event_details.asp?legacy=1&id=1489087#"
  >this link</a>.</p>
<p>For any questions, please contact info@celanetwork.org .</p>

<p>Thanks so much,<br />
  <b>CELA Network</b>
</p>