<p>Dear {{firstName}},</p>

<p>
  Thank you for registering to CELA 2021 Kutaisi Reunion! We have received your
  registration form and highly appreciate your interest in our event.
</p>
<p>
  If you have not completed your registration fee payment (you can pay by a
  credit card, PayPal or bank wire), please follow
  <a
    href="https://members.sibf.org/events/event_details.asp?legacy=1&id=1489087#"
  >this link</a>.
</p>

<p>For Reunion-related questions, please contact us at
  <a href="mailto:info@celanetwork.org">info@celanetwork.org</a>.</p>

<p>Looking forward to meeting you in Kutaisi! </p>

<p>With best regards,<br />
  <b>CELA team</b>
</p>